*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#eef3f8;
}

form{
    display:flex;
    min-height:100vh;
}

/* LEFT PANEL */

.left-panel{
    width:50%;
    background-image:url("resi.png");
    background-size:cover;
    background-position:center;
    position:relative;
}

.overlay{
    background:rgba(0,70,130,.65);
    width:100%;
    height:100%;
    color:white;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    padding:50px;
    text-align:center;
}

.overlay img{
    width:140px;
    margin-bottom:25px;
}

.overlay h1{
    font-size:40px;
    margin-bottom:20px;
}

.overlay p{
    font-size:18px;
    line-height:1.7;
    max-width:500px;
}

/* RIGHT PANEL */

.resident-reg{
    width:50%;
    background:white;

    display:flex;
    flex-direction:column;
    justify-content:center;

    padding:60px;
}

.resident-reg h2{
    color:#005baa;
    font-size:36px;
    margin-bottom:10px;
}

.subtitle{
    color:#777;
    margin-bottom:30px;
}

.resident-reg label{
    margin-bottom:8px;
    font-weight:bold;
}

.resident-reg input,
.resident-reg select{

    width:100%;
    padding:14px;

    margin-bottom:20px;

    border:1px solid #ccc;
    border-radius:8px;

    font-size:16px;
}

.resident-reg input:focus,
.resident-reg select:focus{

    outline:none;
    border:1px solid #005baa;
    box-shadow:0 0 5px rgba(0,91,170,.4);
}

button{

    padding:15px;

    background:#005baa;
    color:white;

    border:none;
    border-radius:8px;

    font-size:18px;
    cursor:pointer;

    transition:.3s;
}

button:hover{

    background:#004080;
}